@model checkmark.Models.clTask

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>clTask</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.user)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.user.UserEmailAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaskName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaskName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaskDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaskDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.priorityLvl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.priorityLvl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.statusLvl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.statusLvl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateDue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateDue)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TaskId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
